* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    opacity: 1;
}


#heading{
    padding:25px;
    background: #FDFDFD 0% 0% no-repeat padding-box;
}


main {
    width: calc(100%-300);
    height: 77px;
    margin-left: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


#section-head{
    margin-top: 80px;
    margin-left: 2px;
    width: 1500px;
    height: 100px;
    display: flex;
    background: #FDFDFD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}


table{
    margin: 10px;
    border-spacing: 0px 16px;
    border-radius: 15px;
    width:1500px;
    display: flex; 
    flex-direction: column; 
}


.tablehead{
    background: #EAF9FF;
    border-radius: 3px;  
}


.tablehead th{
    font-weight: 500;  
    height: 50px; 
}


tr{
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
}


tr th, tr td{
    padding: 1.5%;
    width: 15%;
}


table, tr, td{
    border:none;
}


td{
    display: flex;
    justify-content: center;
}


tbody tr{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 65px;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 5px;
    opacity: 1;
}


#click-edit{
    width: 259px;
    height: 58px;
    margin-top: 20px;
    margin-left: 860px;
    display: flex;
    padding: 0px;
    border:none;
    background: #EAF9FF 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
}


#edit-bg{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #03AEEE;

}


#edit-text{
    margin-top: 20px;
    margin-left: 15px;
}


.delete{
    color : #FA4242;
    margin-right: 14px;
}


.edit{
    color : #10AAC0;
    margin-left: 14px;
}


.plus{
    margin : 5px;
    height : 40px;
    width:40px;
    color: white;
}

